<!DOCTYPE html>
<html>
    
<style>
    table, th, td {
  border: 1px solid black;
}

H1, H2{
    text-align: center;
}

h2{
    text-transform: capitalize;
}
</style>
    <head>
        <title>
            Day 51 to Day 55
        </title>
    </head>

    <body>

        <h1> Day 51 to Day 55 </h1>
        <HR>
            <H2>table of content</H2>
        <ol>
            <li><a href="#freeCodeCamp">CodeCamp</a></li>
            <li><a href="#java">Java</a></li>
            <li><a href="#python">Python</a></li>
            <li><a href="#algorithms">Algorithms</a></li>

        </ol>
<HR>

        <div id="freeCodeCamp">
            <h2>FreeCodeCamp</h2>
            <table style="width:100%">
                <tr>
                  <th>Topic</th>
                  <th>Code</th> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
              </table>
        </div>

        <div id="java">
            <h2>Java</h2>
            <table style="width:100%">
                <tr>
                  <th>Topic</th>
                  <th>Code</th> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
              </table>
        </div>

        <div id="python">
            <h2>Python</h2>
            <table style="width:100%">
                <tr>
                  <th>Topic</th>
                  <th>Code</th> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
              </table>
        </div>

        <div id="algorithms">
            <h2>Algorithms</h2>
            <table style="width:100%">
                <tr>
                  <th>Topic</th>
                  <th>Code</th> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td> 
                </tr>
              </table>
        </div>
    </body>
</html>
